.state-info-container {
  border: 1px solid gray;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  border-radius: 1em;
}

.state-information {
  display: flex;
  justify-content: space-evenly;
  width: -webkit-fill-available;
}

.state-info-container img {
  width: 400px;
  height: 450px;
}
