.state-preview-container {
  margin: 1.5em;
  padding: 1.5em 2em;
  border: 1px solid;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 1em;
}

.state-preview-state-name {
  font-weight: 600;
  margin-bottom: 0.8em;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.state-preview-info {
  display: flex;
}

.state-preview-confirmed-cases {
  color: #ff073a;
}

.state-preview-active-cases {
  color: #007bff;
}

.state-preview-recovered-cases {
  color: #28a745;
}

.state-preview-deaths-cases {
  color: #6c757d;
}

.state-preview-confirmed-cases,
.state-preview-active-cases,
.state-preview-recovered-cases,
.state-preview-deaths-cases {
  margin-right: 1em;
  text-align: center;
  font-size: 1.1em;
}
